body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
  line-height: 1.8;
  color: #000000;
}

section {
  min-height: 100vh;
  padding: 5rem 5% 5em 5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}


/*background-color*/
:root {
  --bg-color: rgb(255, 255, 255);
  --second-bg-color: rgb(235 220 220);
  --bg-color1: #1f242d;
  --second-bg-color1: #323946;
  --main-color: rgb(122, 21, 21);
  --text-color: #fff;
}

a {
  text-decoration: none;
}

::selection {
  color: white;
  background: var(--main-color);
}

.topbar {
  box-shadow: 0 4px 8px 0 #a07d7d, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.HelpSearch {
  position: relative;
  width: 100%;
  height: 45vh;
  display: flex;
  background: #252525;
  padding: 60px 5% 0;
  background-image: radial-gradient(rgb(77 67 67 / 23%) 3px, transparent 0);
  background-size: 25px 25px;
  background-position: -12.5px -12.5px;
}

/*Home*/
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--second-bg-color);
  padding: 95px 5% 0;
}

.home-content {
  max-width: 650px;
}

.home-content h3 {
  font-size: 3rem;
  font-weight: 600;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 27px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: rgb(122, 21, 21);
}

.home-content h1 {
  font-size: 5rem;
  font-weight: 900;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-img img {
  max-width: 750px;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
}

/*About*/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg-color);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
  padding-top: 20px;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h2 span {
  text-transform: capitalize;
  font-weight: bold;
  color: rgb(122, 21, 21);
}

.about-content p span {
  color: rgb(122, 21, 21);
}

.about-content h3 {
  font-size: 3.6rem;
}

.about-content p {
  font-size: 2rem;
  margin: 2rem 0 3rem;
}

.about-img img {
  width: 350px;
  margin: 32px;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Services*/
.services {
  background: var(--second-bg-color);
}

.services h2 {
  margin-bottom: 5rem;
}

.services h2 span {
  text-transform: capitalize;
  font-weight: bold;
  color: rgb(122, 21, 21);
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: white;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid rgb(235 220 220);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  border-color: rgb(122, 21, 21);
  transform: scale(1.02);
}

.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.header {
  margin-right: 15px;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
}

.burger-menu {
  position: absolute;
  top: 0;
  right: 0;
}

/*Wrapper cardw*/
.wrapper {
  position: relative;
  width: 100%;
  padding: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.cardw {
  position: relative;
  max-width: 95%;
  width: 400px;
  height: 550px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cardw .poster {
  position: revert;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: linear-gradient(45deg, rgba(235, 235, 245, 0.7), rgba(250, 250, 255, 0.7));
  transition: transform ease-in-out 0.2s;
  padding: 1em 0.5em;
  text-align: center;
}

.cardw .poster h1 {
  font-weight: 900;
  font-size: 3em;
  margin: 0;
  color: #d93737;
  text-shadow: 1px 1px 0 #000;
}

.cardw .poster p {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.4em;
  padding: 0 0.5em;
}

.cardw .poster .preview {
  width: 350px;
}

.cardw .poster .card-icon {
  /*width: 85px;*/
}

.poster::before {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.3s;
}

.cardw:hover .poster::before {
  bottom: 0;
}

.cardw:hover .poster {
  transform: scale(1.1);
}

.details {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1.5em 1.5em 2em;
  background: #000a;
  backdrop-filter: blur(16px) saturate(120%);
  transition: 0.3s;
  color: #fff;
  z-index: 2;
}

.cardw:hover .details {
  bottom: 0;
}

.details h1,
.details h2 {
  font-weight: 700;
}

.details h1 {
  font-size: 1.75em;
  margin-bottom: 5px;
}

.details h2 {
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 10px;
  color: #ef5353;
}

.details .rating {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  gap: 0.25em;
}

.details .rating i {
  color: #e31414;
}

.details .rating span {
  margin-left: 0.25em;
}

.details .tags {
  display: flex;
  gap: 0.375em;
  margin-bottom: 0.875em;
  font-size: 0.85em;
}

.details .tags span {
  padding: 0.45rem 1rem;
  color: #fff;
  border: 2.5px solid rgba(255 255 255 / 0.4);
  border-radius: 4px;
  border-radius: 50px;
}

.details .desc {
  color: #fff;
  opacity: 0.8;
  line-height: 1.5;
  margin-bottom: 1em;
}

.details .features h3 {
  font-size: 1.25em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.details .features ul {
  padding-left: 1.5em;
}

.details .features ul li::marker {
  color: #e31414;
}

/*Portfolio*/
.portfolio {
  background: var(--bg-color);
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 2.5rem;
  color: var(--text-color);
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}

.portfolio-box img {
  width: 45%;
  transition: 0.5s ease;
  padding-bottom: 10px;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(173, 63, 63), #682225);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
  opacity: 0%;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
  opacity: 100%;
}

.portfolio-layer h4 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--main-color);
  text-align: center;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer ul {
  text-align: left;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color1);
}

/*systemreq*/
.systemreq {
  background: var(--second-bg-color);
  min-height: 60vh;
  padding: 10rem 9% 2rem;
  overflow: hidden;
}

.systemreq .sys-icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 2em;
  padding-top: 25px;
}

.systemreq h2 span {
  text-transform: capitalize;
  font-weight: bold;
  color: rgb(122, 21, 21);
}

.systemreq .systemreq-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  font-size: 1.8rem;
}

.systemreq ul li {
  list-style: none;
  margin: 0 20px;
}

/*team*/
.team {
  overflow: hidden;
}

.team h2 {
  margin-bottom: 3rem;
}

.center {
  display: flex;
  justify-content: center;
}

.team h2 span {
  text-transform: capitalize;
  font-weight: bold;
  color: rgb(122, 21, 21);
}

/*careers*/
.careers {
  background: var(--second-bg-color);
  overflow: hidden;
}

.careers h2 {
  margin-bottom: 3rem;
}

.careers h2 span {
  text-transform: capitalize;
  font-weight: bold;
  color: rgb(122, 21, 21);
}

/*Contact*/
.contact h2 {
  margin-bottom: 3rem;
}

.contact h2 span {
  text-transform: capitalize;
  font-weight: bold;
  color: rgb(122, 21, 21);
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.profile div {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btns {
  margin-top: 2rem;
  cursor: pointer;
}

/*logobrains*/
.logobrains {
  font-size: 20px;
  color: rgb(122, 21, 21);
  font-weight: bolder;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.logobrains:hover {
  color: #000000;
}

/*navbartop*/
.navbartop {
  display: inline-block;
  text-decoration: none;
  margin: auto;
  color: rgb(122, 21, 21);
  font-weight: bold;
  cursor: pointer;
  margin-left: 15px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbartop:after {
  display: block;
  content: "";
  border-bottom: solid 1px #8b0000;
  padding-bottom: 1%;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

.navbartop:hover,
.active {
  color: rgb(0, 0, 0);
}

.navbartop:hover:after {
  transform: scaleX(1);
}

.w3-bar .w3-button {
  padding: 16px 22px;
}

/*Buttons*/
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid rgb(122, 21, 21);
  border-radius: 50%;
  font-size: 2rem;
  color: rgb(122, 21, 21);
  text-decoration: none;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.social-media a:hover {
  background: rgb(122, 21, 21);
  color: white;
  box-shadow: 0 0 1rem rgb(122, 21, 21);
}

.scroll-down-link {
  position: absolute;
  bottom: 30px; /* Adjust this value to control the distance from the bottom */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
}


.btns {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: rgb(122, 21, 21);
  border-radius: 4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid rgb(122, 21, 21);
  font-size: 1.6rem;
  color: white;
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  transition: 0.5s ease;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.5s;
}

.btns:hover {
  background: transparent;
  color: rgb(122, 21, 21);
  box-shadow: none;
}

.titles {
  color: rgb(122, 21, 21);
  text-transform: capitalize;
  font-weight: bold;
}

/*card*/
.card {
  transition: all ease-in-out 0.3s;
}

.card:hover {
  background: #fff;
  box-shadow: 0px 2px 4px rgb(122, 21, 21);
}

/*Footer*/
.footer ul {
  position: relative;
  display: flex;
}

.footer ul div {
  width: 100px;
  height: 5px;
  border-radius: 50px;
  background-color: rgb(122, 21, 21);
  margin: auto;
}

.footer ul li {
  list-style: none;
  margin: 0 20px;
}

.footer ul li span {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  color: #fff;
  transition: 1.5s ease-out;
}

.footer ul li a {
  color: inherit;
  text-decoration: none;
}

.marquee {
  position: absolute;
  word-spacing: 95px;
  display: block;
  margin: auto auto;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 25s linear infinite;
}

.h4,
h4 {
  font-size: calc(1.325rem + 0.9vw);
}

/*Whatsapp share button */
.whatsapp-share-button {
  display: inline-block;
  background-color: #25d366;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 13px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.whatsapp-share-button:hover {
  background-color: #128c7e;
}

.whatsapp-share-button i {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

/* WhatsApp logo icon */
.whatsapp-share-button::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../Images/whatsapp-logo.png");
  background-size: cover;
  vertical-align: middle;
  margin-right: 5px;
}

/*KEYFRAMES ANIMATION*/

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-24px);
  }

  100% {
    transform: translateY(0);
  }
}

/*import font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* cyrillic-ext */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc9yAs5gU1EQVg.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc9yAs5pU1EQVg.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc9yAs5iU1EQVg.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc9yAs5jU1EQVg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc9yAs5tU1E.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCFPrEHJA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCMPrEHJA.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCHPrEHJA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCGPrEHJA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/*Results*/

.SolutionHeader {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #353535;
  padding: 72px 5% 0 5%;
}

.SolutionHeader li {
  list-style: none;
}

.SolutionHeader h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2em;
  font-family: "Dinero", sans-serif !important;
}

.SolutionHeader lord-icon {
  width: 120px;
  height: 120px;
}

.faqs h1 {
  font-size: 6rem;
  font-weight: 800;
}

.faqs h2 {
  text-decoration: underline;
}

.faqs p {
  font-size: 1.8rem;
  font-weight: 400;
}

.faqs h4 span {
  color: rgb(122, 21, 21);
  font-weight: 700;
}

.faqsend {
  padding: 8px 16px;
}

.faqsend i {
  color: #353535;
}

.faqsend img {
  max-width: 20px;
  border-radius: 25%;
}
.Solution span {
  color: rgb(122, 21, 21);
  font-weight: bold;
  font-size: 18px;
  padding: 15px 10px;
}

.Solution p {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  padding: 15px 10px;
}

.Solution ul {
  font-size: 18px;
}

.Solution li {
  list-style: none;
}

.Solution i {
  color: #353535;
  font-size: 16px;
}

.Solution div img {
  width: 14vw;
  cursor: pointer;
}

/*Video*/
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio (change this value according to your video's aspect ratio) */
  height: 0;
  overflow: hidden;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 450px) {

  /*breadcrumb*/
  .breadcrumb {
    width: 450px;
  }
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #ffffff;
  color: #353535;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li:last-child {
  display: inline;
  color: red;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: rgb(0, 0, 0);
  content: ">";
}

ul.breadcrumb li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: red;
  text-decoration: underline;
}

/* BreakPoints */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 5rem 5% 0 5%;
  }

  .services {
    padding-bottom: 7rem;
  }

  .portfolio {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }

  .systemreq .systemreq-content {
    display: grid;
    padding-bottom: 50px;
  }
}

@media (max-width: 1140px) and (min-width: 769px) {
  .home-img img {
    width: 60vw;
  }
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 4.6rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .Solution div img {
    width: 100%;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about-img img {
    width: 50vw;
    margin-top: 4rem;
  }

  .services h2 {
    margin-bottom: 3rem;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }

  .row {
    width: 100%;
  }

  .SolutionHeader lord-icon {
    width: 64px;
    height: 64px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  ul.breadcrumb li {
    display: inline;
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .home-img img {
    width: 90vw;
  }
}

/* Add specific CSS styles for landscape orientation */
@media (max-height: 450px) {
  .home {
    height: auto;
  }

  .home-img img {
    width: 40vw;
  }

  .home-content h1 {
    font-size: 3rem;
  }

  .home-content h3 {
    font-size: 2rem;
    margin: auto;
  }

  .mt-5 {
    margin-top: auto;
  }

  .HelpSearch {
    height: 80vh;
    padding: 45px 5% 0;
  }

  .SolutionHeader {
    height: 50vh;
  }

  .SolutionHeader lord-icon {
    width: 90px;
    height: 90px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.question-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-title {
  text-transform: uppercase;
  color: #252525;
  font-weight: bold;
  font-size: 3rem;
}

.question-time {
  font-size: 1.5rem;
  font-weight: normal;
  float: right;
  color: #666;
}

.question-id {
  opacity: 0;
  font-size: 2rem;
  font-weight: normal;
  margin: 1rem;
  transition: opacity ease-in-out 0.15s;
}

.question-header:hover .question-id {
  opacity: 1;
}

/* To add some spacing between the icon and the input */
.input-group .input-group-text {
  padding: 1rem 1rem;
  font-size: 15px;
}

.form-group.search {
  background: #fff;
  border-radius: 10px;
  padding: 0.35em;
  box-shadow: 0 0 20px 0 rgb(255 255 255 / 20%);
  transition: transform ease-in-out 0.2s;
  transform: scale(0.95);
  margin-top: 1.5em;
}

.form-group.search input {
  box-shadow: none !important;
}

.form-group.search:focus-within {
  box-shadow: 0 0 20px 0 rgba(180, 25, 25, 0.5);
  transform: scale(1);
}

.form-group.search:focus-within .cards {
  display: block !important;
}

.form-group.search span.input-group-text {
  font-size: 1.5em;
  text-shadow: 0 0 6px #cd373775;
  color: #cb1616;
}

.input-group.search .input-group-text {
  background: inherit;
}

.video-wrapper video {
  border-radius: 2em;
}

.answer-steps {
  padding-left: 2em;
}

.answer-steps li {
  margin: 2em 0.5em 0.5em 0.5em;
}

body {
  counter-reset: section;
}

.answer-steps li::before {
  counter-increment: section;
  content: counter(section);
  height: 30px;
  width: 30px;
  font-weight: bold;
  color: white;
  background-color: #cb1616;
  border-width: 0;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  display: block;
  float: right;
  margin-right: -20px;
  margin-left: +20px;
  position: relative;
  top: -2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.display-image img {
  margin-top: 1em;
  width: 100%;
  max-width: 1000px;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.related-articles {
  padding: 2em;
}

.related-articles h2 {
  color: #8b0000;
  padding: 0 0 0.25em 0;
  margin: 0 0 0.5em 0;
  border-bottom: 2px solid #8b0000;
}

.related-articles ul {
  font-size: 1.25em;
}

.moving-ad {
  font-size: 2em;
  text-transform: uppercase;
}

.answer-block {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding-bottom: 2em;
}

@media (max-width: 1150px) {
  .answer-block {
    flex-direction: column;
  }
}